<mat-card>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput name="username" formControlName="username">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput name="password" formControlName="password" type="password">
    </mat-form-field>
    <mat-label color="warn" id="error">{{loginError }}</mat-label><br><br>
    <button mat-raised-button color="primary" (click)="login()">Submit</button>
  </form>
</mat-card>
